.article-header {
    background-color: rgb(154, 190, 189);
    color: white;
    border: 3px solid transparent;
    text-align: center;
}

.section-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

.add-product-btn {
    float: right;
    margin-bottom: 5px;
}